@import '../../colors.scss';
.Profile__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
  .Profile {
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
    > button {
      position: absolute;
      padding: 0.5rem 2rem;
      font-size: 1.8rem;
      border-radius: 5rem;
      border: 2px solid #0000003d;
      transition: 0.5s;
      background-color: rgb(224, 224, 224);
    }
    > button:hover {
      background-color: $white;
    }
    > header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      div {
        background: $degCleverpy;
        width: 20rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          background: $degGray;
        }
      }
      h2 {
        font-size: 3rem;
      }
    }
    .posts__container {
      height: 100%;
      overflow-y: hidden;
    }
    > h2 {
      margin-top: 3rem;
      font-size: min(2.9vw, 4rem);
      text-align: center;
      color: rgba(0, 0, 0, 0.658);
    }
  }
}

@media (max-width: 800px) {
  .Profile__container {
    grid-column: 1/3;
  }
}
