@import '../../colors.scss';
.asideMenu {
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    textarea {
        flex: 1;
    }
}