@import '../../colors.scss';
.asideMenu {
    background-color: $darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0px -29px 35px 34px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -29px 35px 34px rgba(0, 0, 0, 0.75);
    box-shadow: 29px 0px 35px 34px rgba(0, 0, 0, 0.75);
}