@import '../../colors.scss';
.Unlogged {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  * {
    color: $midGray;
  }
  svg {
    font-size: 9rem;
  }
  h2 {
    font-size: min(12vw, 5rem);
  }
  p {
    font-size: clamp(1rem, 2.2vw, 2rem);
  }
}

@media (max-width: 800px) {
  .Unlogged {
    grid-column: 1/3;
  }
}
