@import '../../../colors.scss';
.post {
  padding: 1rem 2rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(77, 77, 77);
  color: black;
  .post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid rgb(77, 77, 77);
    h2 {
      flex: 1;
      font-size: 3rem;
    }
    img {
      height: 5rem;
      background: $degGray;
      border-radius: 50%;
    }
    .post__btns {
      display: flex;
      gap: 1rem;
      button {
        height: 3rem;
        aspect-ratio: 1/1;
        padding: 0.5rem;
        border-radius: 50%;
        transition: background-color 0.5s;
        border: 2px solid #0000003d;
        color: white;
      }
      .post__btns--edit {
        background-color: $blue;
      }
      .post__btns--edit:hover {
        background-color: $blueLight;
      }
      .post__btns--delete {
        background-color: $red;
      }
      .post__btns--delete:hover {
        background-color: $redLight;
      }
    }
  }
  .post_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    flex: 1;
    text-align: center;
    h3 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
