@import '../../../colors.scss';
.post {
    padding: 1rem 2rem;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
    border: 1px solid rgb(77, 77, 77);
    .post__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.3rem;
        padding-bottom: .7rem;
        border-bottom: 1px solid rgb(77, 77, 77);
        h2 {
            flex: 1;
            font-size: 3rem;
        }
        img {
            height: 5rem;
            background-color: white;
            border-radius: 50%;
        }
        button {
            background-color: $red;
            height: 3rem;
            aspect-ratio: 1/1;
            padding: .5rem;
            border-radius: 50%;
            transition: background-color .5s;
        }
        button:hover {
            background-color: $redLight;
        }
    }
    .post_content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        h3 {
            text-align: center;
            font-size: 1.8rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
}