@import '../../../../colors.scss';
.PostTools {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  .PostTools__delete {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.2rem;
    }
    div {
      display: flex;
      justify-content: center;
      gap: 2rem;
      button {
        padding: 0.5rem 2rem;
        font-size: 1.8rem;
        border-radius: 5rem;
        border: 2px solid #0000003d;
        transition: 0.5s;
        background-color: rgb(224, 224, 224);
      }
      button:hover {
        background-color: $white;
      }
      button:first-child {
        color: white;
        background-color: $red;
      }
      button:first-child:hover {
        background-color: $redLight;
      }
    }
  }
  .PostTools__update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 100%;
    padding-top: 1rem;
    width: 100%;
    > div {
      display: flex;
      justify-content: center;
      position: relative;
      p {
        font-size: 1.8rem;
        font-weight: 700;
        cursor: pointer;
        padding: 0 1rem;
      }
      div {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: rgba(255, 0, 0, 0.336);
        left: 0;
      }
    }
    form {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      textarea {
        width: 100%;
        height: calc(100% - 4rem);
        resize: none;
        border: 1px solid #8080804d;
        outline: none;
        border-radius: 0.5rem;
        padding: 1rem;
        font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
      }
      input {
        font-size: 1.5rem;
        padding: 1rem;
        width: 100%;
        border: 1px solid #8080804d;
        outline: none;
        font-weight: 700;
      }
      > p {
        display: block;
        text-align: start;
      }
    }
    footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      bottom: 0;
      button {
        padding: 0.5rem 2rem;
        font-size: 1.4rem;
        border-radius: 5rem;
        border: 2px solid #0000003d;
        transition: 0.5s;
        background-color: $blue;
        color: white;
      }
      button:hover {
        background-color: $blueLight;
      }
      button:first-child {
        background-color: $red;
      }
      button:first-child:hover {
        background-color: $redLight;
      }
    }
  }
}
