@import '../../colors.scss';
.header {
    background-color: $blue;
    grid-column: 1/span 2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    -webkit-box-shadow: 0px -29px 35px 34px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -29px 35px 34px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -29px 35px 34px rgba(0, 0, 0, 0.75);
    z-index: 2;
    h1 {
        font-size: 3rem;
        color: $blueLight;
    }
}