@import '../../../colors.scss';
.AsideUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    width: 100%;
    gap: 2rem;
    >div {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: linear-gradient(to right, #6c2684 0%, #e51774 100%);
        padding: .5rem;
        img {
            border-radius: 50%;
            background: linear-gradient(180deg, #3f3f3f 0%, $dark 100%);
        }
    }
    form {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input,
        textarea {
            font-size: 1.5rem;
            padding: 1rem;
            background-color: $white;
            border: none;
            outline: none;
            color: black;
            font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
            border-radius: .5rem;
        }
        label {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        textarea {
            flex: 1;
            resize: none;
        }
        button {
            padding: .2rem .5rem;
            border: none;
            background: linear-gradient(to right, #6c2684 0%, #e51774 100%);
            border-radius: 2rem;
            color: white;
            font-size: 1.8rem;
            text-align: center;
            margin-top: .5rem;
            padding: .5rem 1rem;
        }
    }
}