@import '../../../colors.scss';
.AsideUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min(70rem, 100%);
  flex: 1;
  max-width: 30rem;
  gap: 2rem;
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
    div {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: $degCleverpy;
      padding: 1rem;
      > div {
        position: absolute;
        width: 120%;
        height: 120%;
        overflow: hidden;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        button {
          z-index: 3;
          width: 10rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          border: none;
          color: white;
          font-size: 4rem;
          svg {
            transition: 0.3s ease-in;
          }
        }
        button:first-child {
          background-color: #6c2684;
        }
        button:nth-child(2) {
          background-color: #e51774;
        }
      }
      img {
        z-index: 2;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: $degGray;
      }
    }
    h2 {
      font-size: 2rem;
    }
  }
  form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input,
    textarea {
      font-size: 1.5rem;
      padding: 1rem;
      background-color: $white;
      border: none;
      outline: none;
      color: black;
      font-family: 'Montserrat', Inter, Avenir, Helvetica, Arial, sans-serif;
      border-radius: 0.5rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      p span {
        font-size: 1.5rem;
        font-weight: 700;
      }
      label {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    textarea {
      flex: 1;
      resize: none;
    }
    button {
      padding: 0.2rem 0.5rem;
      border: none;
      background: linear-gradient(to right, #6c2684 0%, #e51774 100%);
      border-radius: 2rem;
      color: white;
      font-size: 1.8rem;
      text-align: center;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }
}

@media (hover: hover) {
  .AsideUser {
    header {
      div {
        > div {
          background-color: red;
          position: absolute;
          width: 110%;
          height: 110%;
          border-radius: 50%;
          overflow: hidden;
          opacity: 0;
          transition: opacity 0.5s;
          z-index: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            flex: 1;
            height: 100%;
            border: none;
            color: white;
            font-size: 4rem;
            border-radius: 0;
            svg {
              transition: 0.3s ease-in;
            }
          }
          button:first-child {
            background-color: #e51774;
          }
          button:nth-child(2) {
            background-color: #6c2684;
          }
          button:hover {
            svg {
              transform: scale(1.3);
            }
          }
        }
        > div:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
