$dark: #181818;
$main: #292929;
$midGray: #858585;
$darkBlue: #262650;
$blue: #9696f8;
$blueLight: #afc4f0;
$red: #ff0000;
$redLight: #e26868;
$white: #f5f5f5;
$degCleverpy: linear-gradient(to right, #6c2684 0%, #e51774 100%);
$degGray: linear-gradient(180deg, #3f3f3f 0%, $dark 100%);