@import 'colors';
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    color: white;
    background-color: $main;
}

* {
    margin: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
}